.Layer-2 {
    width: 320px;
    height: 2815px;
    background-color: #ffffff;
  }

.Rectangle-11 {
    width: 320px;
    height: 60px;
    object-fit: contain;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    position: relative;
    top: 0%;
    left: 0%;
  }

.Layer-3 {
  width: 137px;
  height: 48px;
  object-fit: contain;
  position: relative;
  top: 0%;
  left: 20%;
}

.Forma-1 {
    width: 26px;
    height: 24px;
    object-fit: contain;
    background-color: #676767;
    position: absolute;
    top: 0%;
    left: 50%;
  }

.Layer-10-copy-11 {
    width: 320px;
    height: 204px;
    object-fit: contain;
  }

.Fitness-Redeemed {
    width: 121px;
    height: 44px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: left;
    color: #ffffff;
  }
  
.Fitness-Redeemed .text-style-1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2.1px;
    color: #11b4e5;
  }

.Now-pay-per-use-gym-anytime-anywhere {
    width: 177px;
    height: 24px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.55px;
    text-align: left;
    color: #303030;
  }

.A-word-from-our-Creators {
    width: 125px;
    height: 8px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 7.2;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--warm-grey);
  }

  .ABOUT-FITNESS {
    width: 192px;
    height: 17px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: 1.2px;
    text-align: center;
    color: #11b4e5;
  }

  .Rohit-copy {
    width: 320px;
    height: 225px;
    object-fit: contain;
  }

  .Ellipse-9 {
    width: 38px;
    height: 38px;
    object-fit: contain;
    opacity: 0.5;
    background-color: #363636;
  }

  .Forma-1-copy-2 {
    width: 24px;
    height: 17px;
    object-fit: contain;
    opacity: 0.6;
    background-color: #ffffff;
  }

  .Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetti {
    width: 290px;
    height: 130px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 2.18;
    letter-spacing: 0.55px;
    text-align: center;
    color: #ffffff;
  }

  .Rohit-Chattopadhyay {
    width: 132px;
    height: 14px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.14px;
    text-align: left;
    color: #ffffff;
  }

  .Forma-1-copy-5 {
    width: 9px;
    height: 15px;
    object-fit: contain;
    background-color: #ffffff;
  }

  .Forma-1-copy-5 {
    width: 16px;
    height: 13px;
    object-fit: contain;
    background-color: #ffffff;
  }
  
  .Layer-7 {
    width: 319px;
    height: 500px;
    object-fit: contain;
    opacity: 0.02;
  }

  .Benefits {
    width: 115px;
    height: 17px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: 1.2px;
    text-align: center;
    color: #11b4e5;
  }

  .We-make-it-easy-and-affordable-for-you-to-stay-fit-and-healthy {
    width: 221px;
    height: 24px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.55px;
    text-align: center;
    color: #303030;
  }

  .Rectangle-13-copy {
    width: 250px;
    height: 330px;
    box-shadow: 0px 8px 33.6px 6.4px rgba(0, 0, 0, 0.05);
    border: solid 1px #eeeeee;
    background-color: #ffffff;
  }

  .Shape-1 {
    width: 94px;
    height: 46px;
    object-fit: contain;
    background-color: #cfcfcf;
  }

  .State-Of-Art-Equipments {
    width: 206px;
    height: 13px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #303030;
  }

  .Shape-864 {
    width: 80px;
    height: 1px;
    object-fit: contain;
    border: solid 1px #cccccc;
    background-color: #cccccc;
  }

  .Modern-conveniences-functional-spaces-to-help-you-gain-more-f {
    width: 221px;
    height: 31px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #303030;
  }

  .Learn-more {
    width: 78px;
    height: 9px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
  }

  .Rounded-Rectangle-1665 {
    width: 120px;
    height: 30px;
    border-radius: 15px;
    background-color: #11b4e5;
  }

  .GALLERY {
    width: 108px;
    height: 17px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: 1.2px;
    text-align: center;
    color: #11b4e5;
  }

  .All-Photos-Videos {
    width: 245px;
    height: 10px;
    font-family: Roboto;
    font-size: 14.5px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.45px;
    text-align: left;
    color: #676767;
  }
  
  .All-Photos-Videos .text-style-1 {
    font-weight: 500;
    color: #11b4e5;
  }

  .index-10 {
    width: 257.9px;
    height: 241.3px;
    object-fit: contain;
  }

  .Group-29-copy {
    width: 14px;
    height: 242px;
    opacity: 0.7;
  }

  .Group-29-copy-2 {
    width: 9px;
    height: 242px;
    opacity: 0.7;
  }

  .Rectangle-12-copy-6 {
    width: 320px;
    height: 455px;
    background-color: #fbfbfb;
  }

  .Have-a-query {
    width: 188px;
    height: 20px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: 1.2px;
    text-align: center;
    color: #11b4e5;
  }

  .Please-fill-out-the-quick-form-and-we-will-be-in-touch-with-yo {
    width: 276px;
    height: 24px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.55px;
    text-align: center;
    color: #303030;
  }

  .Rectangle-14 {
    width: 280px;
    height: 40px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
  }

  .Name {
    width: 39px;
    height: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
    color: #a1a1a1;
  }

  .Rectangle-14-copy {
    width: 280px;
    height: 40px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
  }

  .Email {
    width: 36px;
    height: 11px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
    color: #a1a1a1;
  }

  .Rectangle-14-copy-2 {
    width: 280px;
    height: 120px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
  }

  .Tell-us-what-you-are-looking-for {
    width: 212px;
    height: 14px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
    color: #a1a1a1;
  }

  .Rounded-Rectangle-1665-copy-2 {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #11b4e5;
  }

  .Submit {
    width: 48px;
    height: 9px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
  }

  .Layer-8 {
    width: 320px;
    height: 228px;
    object-fit: contain;
  }

  .Ellipse-2 {
    width: 16px;
    height: 16px;
    object-fit: contain;
    box-shadow: 2px 3.5px 14.7px 1.3px rgba(0, 0, 0, 0.25);
    background-color: #11b4e5;
  }

  .Layer-10 {
    width: 41px;
    height: 42px;
    object-fit: contain;
  }

  .Shape-1 {
    width: 18px;
    height: 24px;
    object-fit: contain;
    background-color: #11b4e5;
  }

  .Lorem-ipsum-dolor-sit-amet {
    width: 164px;
    height: 11px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #303030;
  }

  .Shape-1-copy {
    width: 20px;
    height: 23px;
    object-fit: contain;
    background-color: #11b4e5;
  }

  .-\39 898989898 {
    width: 101px;
    height: 9px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #303030;
  }

  .Forma-1 {
    width: 23px;
    height: 25px;
    object-fit: contain;
    background-color: #11b4e5;
  }

  .recompFitnesscom {
    width: 128px;
    height: 12px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #303030;
  }

  .ico-facebook {
    width: 12px;
    height: 22px;
    object-fit: contain;
    background-color: #cfcfcf;
  }

  .ico-twitter {
    width: 24px;
    height: 22px;
    object-fit: contain;
    background-color: #cfcfcf;
  }

  .ico-gplus {
    width: 24px;
    height: 22px;
    object-fit: contain;
    background-color: #cfcfcf;
  }

  .Shape-44-copy {
    width: 300px;
    height: 2px;
    background-color: #e1e1e1;
  }

  .Layer-11 {
    width: 251px;
    height: 36px;
    object-fit: contain;
  }

  .Rectangle-17 {
    width: 320px;
    height: 90px;
    background-color: #ffffff;
  }

  .Copyright-2018-Fitness-All-Rights-Reserved {
    width: 239px;
    height: 10px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #676767;
  }